{% extends 'base.html' %}

{% block contect %}
<div class="row justify-content-center pb-3">
    <div class="col-6 ">
        <h2 class="display-4 pt-4 ">Sign Up</h2>
    </div>
</div>
{% if error %}
<h5 style="color: red; padding: .5rem 0rem;">{{ error }}</h5>
{% endif %}

<form class="mt-5 p-3 rounded-lg" method="POST" action="{% url 'signup' %}">{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="fname">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="lname">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="email">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="username">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                </div>
                <input type="password" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="password">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Re-type Password</span>
                </div>
                <input type="password" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="password2">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typeUser" id="exampleRadios2" value="ondemand">
                <label class="form-check-label">
                    Basic Version
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typeUser" id="exampleRadios1" value="student"
                    checked="checked">
                <label class="form-check-label">
                    Deluxe Version
                </label>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Pick a Class</span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="classID">
                            <option value="PY101">PY101</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typeUser" id="exampleRadios2" value="teacher">
                <label class="form-check-label">
                    Teacher
                </label>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Teacher Code</span>
                        </div>
                        <input type="password" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" name="token">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <span class="font-weight-light"> • Teacher Code is for teacher use only</span><br>
            <span class="font-weight-light"> • Contact Mr. Root services to verify your teacher status</span><br>
            <span class="font-weight-light"> • Use your code as verification</span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Create Profile</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}