{% extends 'base.html' %}
{% load staticfiles %}


{% block contect %}

{% if user.is_authenticated %}
<div class="row pt-4">
    <div class="col-3">
        <img src="{% static 'student.png' %}" width="100%" class="d-inline-block alighn-top">
    </div>
    <div class="col-4 pt-5">
        <h4 class="font-weight-light"><span class="oi oi-pencil"></span> Student Version</h4>
        <span class="font-weight-bolder">First Name: </span>{{ user.first_name }}<br>
        <span class="font-weight-bolder">Last Name: </span> {{ user.last_name }}<br>
        <span class="font-weight-bolder">Email: </span>{{ user.email}}<br><br>
    </div>
</div>
<div class="row pt-3">
    <div class="col-12">
        <form method="POST" action="{% url 'seeMyGrades' %}">{% csrf_token %}
            <button class="btn btn-info btn-block p-3" type="submit"><span class="oi oi-pie-chart"></span> See My
                Grades</button>
    </div>
</div>
<div class="row pt-2">
    <div class="col-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td colspan="5" style="text-align: center;">
                        <h3 class="font-weight-light">Active Homework</h3>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Max Points</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Instructions</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                <tr>
                    <th scope="row">{{ assignment.title }}</th>
                    <td>{{ assignment.maxPoint}}</td>
                    <td>{{ assignment.dueDate}}</td>
                    <td>{{ assignment.teacherUser }}</td>
                    <td><a href="{% url 'detail' assignment.id %}"><button type="button" class="btn btn-info">Show
                                Me</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<hr>
<div class="row">
    <div class="col-12">
        <p class="text-justify">
            <span class="font-weight-bold">Mr. Root</span> offers free online tutoring services.
            The Primary goal of Mr. Root is to teach you Python.
            It will also prepare you with good fundamentals that will help you learn any framework.
            This website is built with Django; Django is framework written in Python.
            Don't wait, choose the version you like and dive right in.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-6 border-right">
        <p class="h5 text-center font-weight-normal mb-3">Deluxe Version (Free)</p>
        <span>This version gives you:</span>
        <ul class="font-weight-light">
            <li>New videos every week</li>
            <li>New assignments to practice coding every week</li>
            <li>24/7 Support</li>
            <li>On-demand videos</li>
            <li>Graded assignments with feedback</li>
            <li>Free in-person tutoring (when possible)</li>
        </ul>
        <p>Make sure to register for this version before the starting date or you will be left behind. There are due
            dates so make sure to stay on track.</p>
    </div>
    <div class="col-6">
        <p class="h5 text-center font-weight-normal mb-3">Basic Version (Free)</p>
        <span>This version gives you:</span>
        <ul class="font-weight-light">
            <li>New videos every week</li>
            <li>New assignments to practice coding every week</li>
            <li>24/7 Support</li>
            <li>On-demand videos</li>
        </ul>
        <p>Register any time and do not worry about virtual classroom or due dates.</p>
    </div>
</div>
<hr>


{% endif %}
{% endblock %}