{% extends 'base.html' %}
{% load staticfiles %}


{% block contect %}

{% if user.is_authenticated %}
<div class="row pt-4">
    <div class="col-3">
        <img src="{% static 'teacher.png' %}" width="100%" class="d-inline-block alighn-top">
    </div>
    <div class="col-9 pt-5">
        <h4 class="font-weight-light"><span class="oi oi-spreadsheet"></span> Teacher Version</h4>
        <span class="font-weight-bolder">First Name: </span>{{ user.first_name }}<br>
        <span class="font-weight-bolder">Last Name: </span> {{ user.last_name }}<br>
        <span class="font-weight-bolder">Email: </span>{{ user.email}}<br><br>
        <a href="{% url 'create' %}"><button type="button" class="btn btn-success"><span class="oi oi-plus"></span>
                Create Assignment</button></span></a><br>
        <a href="{% url 'teacherAssignments' %}"><button type="button" class="btn btn-success mt-1"><span
                    class="oi oi-book"></span> See Assignments</button></span> </a>
        <form method="POST" action="{% url 'showGrades' %}">{% csrf_token %}
            <div class="input-group mt-1">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                    name="studentID">
                    <option selected>Student Name</option>
                    {% for validStudent in validStudents%}
                    <option value="{{ validStudent.studentFK.username }}">{{ validStudent.studentFK.last_name }}
                        {{ validStudent.studentFK.first_name }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit"><span class="oi oi-pie-chart"></span> Grades</button>
                </div>
            </div>
        </form>

        <form method="POST" action="{% url 'seeSubmissions' %}">{% csrf_token %}
            <div class="input-group mt-1">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                    name="assignmentID">
                    <option selected>Assignment</option>
                    {% for assignment in assignments %}
                    <option value="{{ assignment.id }}">{{ assignment.section.name }} - {{ assignment.title }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit"> Submissions</button>
                </div>
            </div>
        </form>
    </div>
</div>

<form class="mt-5 p-3 rounded-lg" style="background-color: #343A40;" method="POST" action="{% url 'gradeStudent' %}">
    {% csrf_token %}
    <h3 class="text-center font-weight-light" style="color: #fff;"> Grade Student's Assignment</h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            <select class="custom-select" id="inputGroupSelect04" name="assignmentID">
                <option selected>Assignment</option>
                {% for assignment in assignments %}
                <option value="{{ assignment.id }}">{{ assignment.section.name }} - {{ assignment.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-4">
            <select class="custom-select" id="inputGroupSelect04" name="studentID">
                <option selected>Student Name</option>
                {% for validStudent in validStudents%}
                <option value="{{ validStudent.studentFK.username }}">{{ validStudent.studentFK.last_name }}
                    {{ validStudent.studentFK.first_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <input placeholder="Score" type="text" class="form-control" name="gradeID">
        </div>
        <button class="btn btn-success btn-block" type="submit"><span class="oi oi-pie-chart"></span> Grade
            Submission</button>
    </div>
</form>
</div>
<div class="row pt-5">
    <div class="col-12">
        <table class="table table-hover table-dark mx-auto" style="width: 75%;">
            <thead>
                <tr>
                    <td colspan="5">
                        <h3 class="font-weight-light">Recent Submissions</h3>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">Assignments (Click to Download)</th>
                </tr>
            </thead>
            <tbody>
                {% for submittedAssignments in submittedAssignments %}
                {% if submittedAssignments.points == -1 %}
                <tr>
                    <td>{{ submittedAssignments.studentUser.first_name }}
                        {{ submittedAssignments.studentUser.last_name }}</td>
                        <td>{{ submittedAssignments.assignment.section }}</td>
                    <td><a class="text-muted" href="{{ submittedAssignments.document.url }}"
                            download>{{ submittedAssignments.assignment.title }}</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            <tbody>
        </table>
    </div>
</div>
{% else %}
<hr>
<div class="row">
    <div class="col-12">
        <p class="text-justify">
            <span class="font-weight-bold">Mr. Root</span> is open-source learning management system.
            The Primary goal of Mr. Root is to help students and teachers to stay connected. <br>There are two ways for using Mr. Root Services:
            <ol>
                <li>Option - <a target="_blank" href="https://github.com/Synyster991/darkoont">Download this code</a> and use it on your own server with your own domain name. However, you need to keep the footer as a reference. </li>
                <li>Option - Use our server and out domain name. Follow the instrustions below.</li>
            </ol>            
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-6 border-right">
        <p class="h5 text-center font-weight-normal mb-3">Student Version</p>
        <span>This version gives you:</span>
        <ul class="font-weight-light">
            <li>New videos every week</li>
            <li>New assignments to practice coding every week</li>
            <li>24/7 Support</li>
            <li>Graded assignments with feedback</li>
        </ul>
        <p>Make sure to register for this version before the starting date or you will be left behind. There are due
            dates so make sure to stay on track.</p>
    </div>
    <div class="col-6">
        <p class="h5 text-center font-weight-normal mb-3">Teacher Version</p>
        <span>This version gives you:</span>
        <ul class="font-weight-light">
            <li>Public and Private sections</li>
            <li>Create assignment droplets</li>
            <li>Grade assignments</li>
        </ul>
        <p>Email this form to filipdimi1999@gmail.com to get your section and Teacher Code for registration.</p>
    </div>
</div>
<hr>
{% endif %}

{% endblock %}