{% extends 'base.html' %}
{% load staticfiles %}


{% block contect %}

{% if user.is_authenticated %}
<div class="row pt-4">
    <div class="col-3">
        <img src="{% static 'teacher.png' %}" width="100%" class="d-inline-block alighn-top">
    </div>
    <div class="col-4 pt-5">
        <h4 class="font-weight-light"><span class="oi oi-person"></span> Teacher Version</h4>
        <span class="font-weight-bolder">First Name: </span>{{ user.first_name }}<br>
        <span class="font-weight-bolder">Last Name: </span> {{ user.last_name }}<br>
        <span class="font-weight-bolder">Email: </span>{{ user.email}}<br><br>
        <a href="{% url 'create' %}"><button type="button" class="btn btn-success"><span class="oi oi-plus"></span>
                Create Assignment</button></span></a><br>
        <a href="{% url 'teacherAssignments' %}"><button type="button" class="btn btn-success mt-1"><span
                    class="oi oi-book"></span> See Assignments</button></span> </a>
        <form method="POST" action="{% url 'gradeStudent' %}">{% csrf_token %}
            <div class="input-group mt-1">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                    name="studentID">
                    <option selected>Student Name</option>
                    {% for validStudent in validStudents.all%}
                    <option value="{{ validStudent.username }}">{{ validStudent.last_name }}
                        {{ validStudent.first_name }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit"><span class="oi oi-pie-chart"></span> Grades</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row pt-5">
    <div class="col-12">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <td colspan="5" style="text-align: center;">
                        <h3 class="font-weight-light">Students</h3>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for validStudent in validStudents.all%}
                <tr>
                    <td>{{ validStudent.first_name }} {{ validStudent.last_name }}</td>
                    <td>{{ validStudent.email}}</td>
                    <td>{{ validStudent.username }}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
</div>
{% else %}
<h1>You need to be logged in to use this website.</h1>
{% endif %}
{% endblock %}