{% extends 'base.html' %}
{% load staticfiles %}


{% block contect %}
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">{% csrf_token %}
    <div class="row justify-content-center pb-3">
        <div class="col-6">
            <h2 class="display-4 pt-4 ">Creating Assignment</h2>
        </div>
        <div class="col-1 pt-5">
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            {% if error %}
            <h5 style="color: red; padding: .5rem 0rem;">{{ error }}</h5>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="title">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                name="sectionName">
                <option selected>Pick a Section</option>
                {% for g in availableSection.all %}
                {% if g.name != "GoingPrivate" %}
                <option value="{{ g.name }}">{{ g.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Due Date</span>
                </div>
                <input type="date" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="date">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Max Points</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="points">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Video Source</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="video">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Document</span>
                </div>
                <input class="ml-2 pt-1" type="file" name="teacherfile">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Instructions</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" rows="4" cols="50"
                    name="instructions"></textarea>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mx-auto">
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Create Homework</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}