{% extends 'base.html' %}
{% load staticfiles %}


{% block contect %}
<div class="row row justify-content-center pt-3">
    <div class="col-12">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <td colspan="5" style="text-align: center;"><h3 class="font-weight-light">{{ assignment.title }}</h3></td>
                </tr>
                <tr>
                    <th scope="col" style="text-align: left;">Issued by</th>
                    <th scope="col" style="text-align: center;">Max Points</th>
                    <th scope="col" style="text-align: right;">Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td style="text-align: left;">{{ assignment.teacherUser}}</td>
                    <td style="text-align: center;">{{ assignment.maxPoint }}</td>
                    <td style="text-align: right;">{{ assignment.dueDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row row justify-content-center pt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">{{ assignment.instructions }}</p>
              <a class="text-muted" target="_blank" href="{{ assignment.videoLink }}"><button type="button" class="btn btn-warning">Watch Tutorial</button></a><br>
              <a class="text-muted" target="_blank" href="{{ assignment.teacherDocument.url }}" download><button type="button" class="mt-1 mb-1 btn btn-danger">Download Assignment</button></a>

              <form method="POST" action="{% url 'submitAssignmentStudent' assignment.id %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="file" name="myfile">
                    <button type="submit" class="btn btn-success btn-block mt-4">Submit</button>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}