{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block contect %}
<div class="row pt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td colspan="5" style="text-align: center;">
                    <h3 class="font-weight-light">{% trans "Grades For" %} {{ student.last_name }} {{ student.first_name }}</h3>
                </td>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans "Assignment" %}</th>
                <th scope="col">{% trans "Section" %}</th>
                <th scope="col">{% trans "Points" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for gradedAssignment in gradedAssignments %}
            <tr>
                <th scope="row">{{ gradedAssignment.assignment.pk }}</th>
                <td>{{ gradedAssignment.assignment.title }}</td>
                <td>{{ gradedAssignment.assignment.section.name }}</td>
                {% if gradedAssignment.points == -1 %}
                <td>Not Graded</td>
                {% else %}
                <td>{{ gradedAssignment.points }}/{{ gradedAssignment.assignment.maxPoint }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}