{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block contect %}
<div class="col-12 pt-5">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">{% trans "Title" %}</th>
                <th scope="col">{% trans "Section" %}</th>
                <th scope="col">{% trans "Max Points" %}</th>
                <th scope="col">{% trans "Due Date" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in checkedAssignments %}
                <tr>
                    <td>{{ assignment.title }}</td>
                    <td>{{ assignment.section }}</td>
                    <td>{{ assignment.maxPoint }}</td>
                    <td>{{ assignment.dueDate }}</td> 
                </tr>
            {% endfor %}
        <tbody>
    </table>       
</div>
{% endblock %}